<% include partials/header %>

<section class="hero is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                <%= therapy.name %>
            </h1>
            <p><%= therapy.city %>, <%= therapy.state %> <%= therapy.zip %></p>
        </div>
    </div>
</section>

<div class="container top-margin">
    <div class="columns">
        <div class="column">
            <img src="<%= therapy.image %>">
        </div>
        <div class="column">
            <p><%= therapy.description %></p>
        </div>
    </div>
    <hr>
    <% therapy.comments.forEach(function(comment){ %>
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong><%= comment.author %></strong>
                        <br>
                        <%= comment.text %>
                    </p>
                </div>
            </div>
        </article>
    <% }) %>
    <% if(!currentUser){ %>
        <div class="box has-text-centered top-margin">
            <h1 class="sbtitle">Log in to add comment...</h1>
        </div>
    <% } else { %>
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <form action="/therapies/<%= therapy._id %>/comments" method="POST">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" placeholder="Add a comment..." name="comment[text]"></textarea>
                        </p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <input type="submit" class="button is-info" value="Submit">
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <label class="checkbox">
                                    <input type="checkbox"> Press enter to submit
                                </label>
                            </div>
                        </div>
                    </nav>
                </form>
            </div>
        </article>
    <% } %>
</div>

<% include partials/footer %>